{% extends 'comp/bootstrap1.html' %}

{% block content %}

<html>

<head>
    <title>History</title>
</head>

<body>
    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Your Profile</a>
    <a href="{% url 'home' %}" class="btn btn-primary">Home</a><br>
    <h2 class="py-3">Your Search History:</h2>
    {% for item1, item2, item3 in data %}
    <p class="pt-3">{{ item3 }}</p>
    <table class="table table-striped caption-top">
        <thead class="thead-dark">
            <tr>
                {% for i in item2 %}
                <th>
                    {{ i }}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in item1 %}
            <tr>
                {% for k, v in item.items %}
                <th>{{ v }}</th>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</body>

</html>

{% endblock %}